# --- Python & Environment ---
.venv/
venv/
ENV/
**/__pycache__/
*.pyc
*.pyo
.env
instance/
*.egg-info/
rough.py

# --- Database ---
*.sqlite3
*.db
*.db-journal
*.db-wal
pft.db
schema.sql


# --- Editor & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs & Temp ---
*.log
tmp/
